<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Veterans Suicide Prevention</title>
  <!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="header">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/">Self Assessment</a></li>
      <li><a href="/friendsandfam">Friends and Family</a></li>
      <li><a href="/models">Models</a></li>
    </ul>
    <img class="tista" src="{{url_for('static', filename='tistalogo.png')}}" />
    <p class="title">Veterans Suicide Prevention</p>
    <p class="subtitle">Are you a veteran or concerned about one? We are here to help.</p>
  </div>
  <p class="hometitle">Experiencing signs of crisis?</p>
  <p class="homeone">According to the American Addiction Center organization, veterans are at 50% higher risk of suicide
    than the
    general population due to their traumatic experiences, risk of drug abuse, access to firearms, and several other
    reasons. TISTA is a leading provider of IT solutions and professional services for the Health, Defense, and Civilian
    industries that aims to help mitigate veteran suicide risk with technology. The company focuses on leveraging
    technology to answer relevant questions and partners with communities and governments to implement impactful
    solutions across these industries. TISTA provides several services, including engineering, consulting,
    cybersecurity, data science, etc., for their clients and employs associates with a range of technology backgrounds
    to support these primary aspects of their business. TISTA also partners with organizations within the US military
    and is strongly committed to supporting the needs of veterans and their families across the US. The company is
    dedicated to hiring veterans to work at TISTA and providing resources to help prevent veteran homelessness and
    suicides. TISTA hopes to prevent suicides by intervening prior to the crisis point proactively. TISTA also hopes to
    collect relevant data and understand approaches to interventions that can inform its action plan in preventing
    suicides.</p>
  <p class="hometitle">Our Mission</p>
  <p class="homeone">Our primary objective is to leverage Data Science and AI to design and implement machine learning
    models that will
    identify individuals at a high risk of suicide and suggest intervention methods to prevent suicides before the
    crisis point. The models assess whether an individual is at risk and aim to provide interventions that could have a
    significant impact on their health and mental state. Guided by our research on the factors that most heavily
    influence suicide risk, we decided to leverage a synthetic dataset generated by the Veterans Health Administration
    (VHA) to train our first model.</p>
  <button>Assess your Suicide Risk</button>
</body>

</html>